.starship-container:hover {
    border: 1px solid yellow;
    cursor: pointer;
    border-radius: 15px;
}

body {
    /* background-color: black; */
    background-image: url("../../../assets/stars_galaxies.jpg");

}