<nav class="nav justify-content-center bg-black" style="border: 1px solid gray;">
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button style="background-color: black;" class="nav-link active" id="nav-home-tab" data-bs-toggle="tab"
            data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">
            <a aria-current="page" style="text-decoration: none;color: white;" [routerLink]="''">Home</a>
        </button>
        <button style="background-color: black;" class="nav-link" id="nav-starships-tab" data-bs-toggle="tab"
            data-bs-target="#nav-starships" type="button" role="tab" aria-controls="nav-starships"
            aria-selected="false">
            <a style="text-decoration: none;color: white;" [routerLink]="'starship/all'">Starships</a>
        </button>
    </div>
</nav>
<!-- <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        home
    </div>
    <div class="tab-pane fade" id="nav-starships" role="tabpanel" aria-labelledby="nav-starships-tab">
        <app-starship></app-starship>
    </div>

</div> -->