<div class="container-fluid justify-content-center bg-black">
    <div class="row">

        <div class="col-4"></div>

        <div class="col-4 text-center">
            <img src="../../../assets/star-wars-logo.png" width="180px" height="180px" alt="">
        </div>

        <div class="col-1"></div>

        <!-- <a  class="btn btn-dark col-2 align-self-center" (click)="this.login.logout()">LOG OUT</a> -->
        <a class="btn btn-black col-1 align-self-center" data-bs-toggle="modal" data-bs-target="#loginModal"
            style="color: gray;">LOG IN</a>
        <a class="btn btn-black col-1 align-self-center" data-bs-toggle="modal" data-bs-target="#signUpModal"
            style="color: gray;">SIGN UP</a>
        <ul>
            <li *ngFor="let user of users" style="color: blue;">{{ user.email }} | {{ user.password }}</li>
        </ul>
    </div>
</div>

<app-login-modal></app-login-modal>
<app-sign-up-modal></app-sign-up-modal>