<div class="container-fluid justify-content-center bg-black">
    <div class="row">

        <div class="col-4"></div>

        <div class="col-4 text-center">
            <img src="../../../assets/star-wars-logo.png" width="180px" height="180px" alt="">
        </div>

        <!-- <div class="col-1"></div> -->

        <!-- Displayed when the user has logged out. -->
        <a *ngIf="this.userService.isUserValidated === false" class="btn btn-black col-1 align-self-center"
            data-bs-toggle="modal" data-bs-target="#loginModal" style="color: gray;">LOG IN</a>
        <a *ngIf="this.userService.isUserValidated === false" class="btn btn-black col-1 align-self-center"
            data-bs-toggle="modal" data-bs-target="#signUpModal" style="color: gray;">SIGN UP</a>

        <!-- Displayed when the user has signed up -->
        <a *ngIf="this.userService.isUserValidated" class="btn btn-black col-2 align-self-center"
            style="color: gray;">{{ this.userService.user.email }}</a>
        <a *ngIf="this.userService.isUserValidated" class="btn btn-black col-1 align-self-center" style="color: gray;"
            (click)="onLogout()">LOG OUT</a>

        <!-- Print registered users -->
        <ul *ngIf="users.length > 0">
            <p style="text-align: center; color: blue;">USERS</p>
            <li *ngFor="let user of users" style="color: blue; text-align: center;">{{ user.email }} | {{ user.password
                }}</li>
        </ul>
    </div>
</div>
<app-navigation-bar></app-navigation-bar>


<app-login-form></app-login-form>
<app-sign-up-form></app-sign-up-form>