<div id="carouselExampleIndicators" class="carousel slide mb-5" data-bs-ride="carousel" style="margin-top: 0px;z-index: -1;">
  <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
          aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
          aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
      <div class="carousel-item">
          <img src="../../../assets/andor-intl-key-art-desktop-single-hero_29ba7a88.jpg" class="d-block w-100"
              alt="..."  height="600px">
      </div>
      <div class="carousel-item">
          <img src="../../../assets/lego-star-wars-summer-vacation-slimhero-disneyplus-mobi_44ee5b1a.jpg"
              class="d-block w-100" alt="..." height="600px">
      </div>
      <div class="carousel-item active">
          <img src="../../../assets/owk-ajr-hero-slim-mobile_7cc765ae_590b3fc8.jpg"
              class="d-block w-100" alt="..." height="600px">
      </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
  </button>
</div>